<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>Announce</string>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>NSLocalNetworkUsageDescription</key>
    <string>Sonos Announce needs local network access to find and control your Sonos speakers.</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_sonos._tcp</string>
    </array>
</dict>
</plist>
